
/* 
Start of the lines/blocks of codes
Developed by M1
Student ID: Redacted
*/

/* Admin - Database/Table Query */
.page-title-banner-container {
    height: 75px;
    width: 60%;
    /* background-color: lightgreen; */
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
    box-shadow: 0px 0px 16px 0px black;
    color: lightgreen;
    background: linear-gradient(rgb(50, 70, 70, 1), rgba(27, 47, 48, 0.7));
}

.page-title-banner-content {
    margin: 0 auto;
    flex-direction: column;
    height: 60px;
    font-weight: bold;
    font-size: 2em;
    margin-top: 12px;
}

/* query-table-content-1 */
.query-table-content-1 table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.query-table-content-1 th {
    background-color: rgb(150, 255, 150);
}

.query-table-content-1 td {
    background-color: rgb(225, 255, 225);
}

.query-table-content-1 tr {
    height: 40px;
}

.query-table-content-1 th,
.query-table-content-1 td {
    border: 1px solid black;
}

.query-table-content-1 th {
    width: 40%;
    padding-left: 10px;
    text-align: left;
}

.query-table-content-1 td {
    width: 375px;
    padding: 10px;
}

/* query-table-content-2 */
.query-table-content-2 table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.query-table-content-2 th {
    background-color: rgb(150, 255, 150);
}

.query-table-content-2 td {
    background-color: rgb(225, 255, 225);
}

.query-table-content-2 tr {
    height: 40px;
}

.query-table-content-2 th,
.query-table-content-2 td {
    border: 1px solid black;
}

.query-table-content-2 th {
    width: 40%;
    padding-left: 10px;
    text-align: left;
}

.query-table-content-2 td {
    width: 375px;
    padding: 10px;
}

/* query-table-content-3 */
.query-table-content-3 table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.query-table-content-3 th {
    background-color: rgb(150, 255, 150);
}

.query-table-content-3 td {
    background-color: rgb(225, 255, 225);
}

.query-table-content-3 tr {
    height: 40px;
}

.query-table-content-3 th,
.query-table-content-3 td {
    border: 1px solid black;
}

.query-table-content-3 th {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.query-table-content-3 td {
    padding: 10px;
}

.query-table-email-field {
    width: 350px;
    font-size: 18px;
}

.table-names-cb {
    width: 350px;
    font-size: 18px;
}

input[type="text"] {
    width: 350px;
    font-size: 18px;
}

.radio-choice {
    height: 50px;
}

.radio-choice-2 {
    height: 80px;
}

.radio-choices {
    width: 350px;
    height: 30px;
}

.hidden-div {
    height: 40px;
}

.subscription-text-field {
    width: 80%;
    font-size: 16px;
}

/* 
End of the lines/blocks of codes
Developed by M1
Student ID: Redacted
*/
