
/* 
Start of the lines/blocks of codes
Developed by M1
Student ID: Redacted
*/

/* Admin - Screen user requests (Accept/Reject) */
.page-title-banner-container {
    height: 75px;
    width: 70%;
    /* background-color: lightgreen; */
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
    box-shadow: 0px 0px 16px 0px black;
    color: lightgreen;
    background: linear-gradient(rgb(50, 70, 70, 1), rgba(27, 47, 48, 0.7));
}

.page-title-banner-content {
    margin: 0 auto;
    flex-direction: column;
    height: 60px;
    font-weight: bold;
    font-size: 2em;
    margin-top: 12px;
}

#container-1-container {
    /*
    A hidden container to ensure the contents tabs animations (if any)
    do not push the footer down and affect the overall website design.
    */
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 130px;
}

#container-1-contents {
    height: 80px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    float: left;
    /* padding-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    text-align: center;
    /* background-color: lightyellow; */
    background: linear-gradient(rgb(50, 70, 70, 1), rgba(27, 47, 48, 0.7));
    color: white;
    box-shadow: 0px 0px 16px 0px black;
}

.container-1-paragraph {
    font-size: 24px;
    line-height: 50px;
}

/* Table query designs */
.query-table-content table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.query-table-content th {
    background-color: rgb(150, 255, 150);
}

.query-table-content td {
    background-color: rgb(225, 255, 225);
}

.query-table-content tr {
    height: 40px;
}

.query-table-content th,
.query-table-content td {
    border: 1px solid black;
}

.query-table-content th {
    width: 40%;
    padding-left: 10px;
    text-align: left;
}

.query-table-content td {
    width: 375px;
    padding: 10px;
}

/* Input text fields designs */
input[type="text"] {
    width: 350px;
    font-size: 18px;
}

/* Input email address text field designs */
.query-table-email-field {
    width: 350px;
    font-size: 18px;
}

form {
    margin: 0 auto;     /* Center the form horizontally */
}

/* E-waste table designs */
.requests-table table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.requests-table th {
    background-color: rgb(150, 255, 150);
}

.requests-table td {
    background-color: rgb(225, 255, 225);
}

.requests-table tr {
    height: 40px;
}

.requests-table th,
.requests-table td {
    border: 1px solid black;
}

.requests-table th {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.requests-table td {
    padding: 10px;
}





/* 
End of the lines/blocks of codes
Developed by M1
Student ID: Redacted
*/
