
/* 
Start of the lines/blocks of codes
Developed by M1
Student ID: Redacted
 */

.welcome-container {
    /*
    A hidden container to ensure the contents tabs animations (if any)
    do not push the footer down and affect the overall website design.
    */
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 150px;

    text-align: center;
}

.welcome-content {
    height: 100px;
    width: 975px;
    border-style: solid;
    border-radius: 20px;
    float: left;
    /* padding-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    text-align: center;
    background-color: lightgray;
}

#contents-1-container {
    /*
    A hidden container to ensure the contents tabs animations (if any)
    do not push the footer down and affect the overall website design.
    */
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 550px;
}

#contents-1-content {
    height: 375px;
    width: 875px;
    border-style: solid;
    border-radius: 20px;
    float: left;
    /* padding-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    text-align: center;
    background-color: lightyellow;
}

.contents-1-paragraph {
    font-size: 24px;
    line-height: 50px;
}

#contents-2-container {
    /*
    A hidden container to ensure the contents tabs animations (if any)
    do not push the footer down and affect the overall website design.
    */
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 550px;
}

.contents-2-content {
    height: 475px;
    width: 300px;
    border-style: solid;
    border-radius: 20px;
    float: left;
    /* padding-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    text-align: center;

    -webkit-transition: background-color 0.3s, transform 0.3s linear; /* Safari, Chrome and Opera > 12.1 */
	-moz-transition: background-color 0.3s, transform 0.3s linear; /* Firefox < 16 */
	-ms-transition: background-color 0.3s, transform 0.3s linear; /* Internet Explorer */
	-o-transition: background-color 0.3s, transform 0.3s linear; /* Opera < 12.1 */
    transition: background-color 0.3s, margin-top 0.3s linear;
}

.contents-2-content:hover {
    margin-top: 15px;

    -webkit-transition: background-color 0.3s, transform 0.3s linear; /* Safari, Chrome and Opera > 12.1 */
	-moz-transition: background-color 0.3s, transform 0.3s linear; /* Firefox < 16 */
	-ms-transition: background-color 0.3s, transform 0.3s linear; /* Internet Explorer */
	-o-transition: background-color 0.3s, transform 0.3s linear; /* Opera < 12.1 */
    transition: background-color 0.3s, margin-top 0.3s linear;
}

#contents-2-content-1 {
    background-color: darksalmon;
}

#contents-2-content-2 {
    background-color: yellow;
}

#contents-2-content-3 {
    background-color: deepskyblue;
}   

.content-2-image {
    height: 150px;
    width: 150px;
    padding: 10px;
}

.content-2-circle-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding: 10px;
}

.content-2-titles {
    font-size: 24px;
    font-weight: bold;
}

.content-2-paragraphs {
    font-size: 20px;
}

/* 
End of the lines/blocks of codes
Developed by M1
Student ID: Redacted
 */
