
/* 
Start of the lines/blocks of codes
Developed by M1
Student ID: Redacted
*/

/* Manage users title banner */
.title-banner-container {
    height: 75px;
    width: 45%;
    background-color: lightgreen;
    border-style: solid;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
}

.title-banner-content {
    margin: 0 auto;
    flex-direction: column;
    height: 60px;
    font-weight: bold;
    font-size: 2em;
    margin-top: 12px;
}

#contents-1-container {
    /*
    A hidden container to ensure the contents tabs animations (if any)
    do not push the footer down and affect the overall website design.
    */
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 200px;
}

#contents-1-content {
    height: 150px;
    width: 100%;
    border-style: solid;
    border-radius: 20px;
    float: left;
    /* padding-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    text-align: center;
    background-color: lightyellow;
}

/* Table query designs */
.query-table-content table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.query-table-content th {
    background-color: rgb(150, 255, 150);
}

.query-table-content td {
    background-color: rgb(225, 255, 225);
}

.query-table-content tr {
    height: 40px;
}

.query-table-content th,
.query-table-content td {
    border: 1px solid black;
}

.query-table-content th {
    width: 40%;
    padding-left: 10px;
    text-align: left;
}

.query-table-content td {
    width: 375px;
    padding: 10px;
}

/* Manage users table designs */
.manage-user-table table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.manage-user-table th {
    background-color: rgb(150, 255, 150);
}

.manage-user-table td {
    background-color: rgb(225, 255, 225);
}

.manage-user-table tr {
    height: 40px;
}

.manage-user-table th,
.manage-user-table td {
    border: 1px solid black;
}

.manage-user-table th {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.manage-user-table td {
    padding: 10px;
}

/* Input text fields designs */
input[type="text"] {
    width: 350px;
    font-size: 18px;
}

/* Input email address text field designs */
.query-table-email-field {
    width: 350px;
    font-size: 18px;
}

/* Radio buttons designs */
.radio-choice {
    height: 50px;
}

.radio-choice-2 {
    height: 80px;
}

.radio-choices {
    width: 350px;
    height: 30px;
}

form {
    margin: 0 auto;        /* Center the form horizontally */
}

/* 
End of the lines/blocks of codes
Developed by M1
Student ID: Redacted
*/
