
/* 
Start of the lines/blocks of codes
Developed by M1
Student ID: Redacted
*/

#menu-buttons {
    margin-right: 20px;
    background: gray;
    border-style: solid;
    height: 105px;
    /* height: 90px; */
    width: 1080px;
    padding-top: 20px;
    
    display: flex;
    justify-content: center; /* Center the links */
    gap: 10px; /* Add some spacing in between the buttons */

    /* Ensures the navigation bar always sticks
    to the top of the webpage while scrolling*/
    position: sticky;
    top: 1%;

    border-radius: 20px;

    z-index: 5;
    box-shadow: 0px 0px 16px 0px black;
}

.menu-button {
    height: 50px;
    background-color:lightblue;
    border-style: solid;
    text-align: center;
    /* margin: auto; */
    float: left;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;

    -webkit-transition: background-color 0.3s, transform 0.3s linear; /* Safari, Chrome and Opera > 12.1 */
	-moz-transition: background-color 0.3s, transform 0.3s linear; /* Firefox < 16 */
	-ms-transition: background-color 0.3s, transform 0.3s linear; /* Internet Explorer */
	-o-transition: background-color 0.3s, transform 0.3s linear; /* Opera < 12.1 */
    transition: background-color 0.3s, transform 0.3s linear;
    
    border-radius: 5px;
}

.menu-button-2 {
    height: 65px;
    background-color:lightblue;
    border-style: solid;
    text-align: center;
    /* margin: auto; */
    float: left;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;

    -webkit-transition: background-color 0.3s, transform 0.3s linear; /* Safari, Chrome and Opera > 12.1 */
	-moz-transition: background-color 0.3s, transform 0.3s linear; /* Firefox < 16 */
	-ms-transition: background-color 0.3s, transform 0.3s linear; /* Internet Explorer */
	-o-transition: background-color 0.3s, transform 0.3s linear; /* Opera < 12.1 */
    transition: background-color 0.3s, transform 0.3s linear;
    
    border-radius: 5px;
}

.menu-button:hover {
    background-color: rgb(170, 170, 40);

    transform: scale(1.15);

    -webkit-transition: background-color 0.3s, transform 0.3s linear; /* Safari, Chrome and Opera > 12.1 */
	-moz-transition: background-color 0.3s, transform 0.3s linear; /* Firefox < 16 */
	-ms-transition: background-color 0.3s, transform 0.3s linear; /* Internet Explorer */
	-o-transition: background-color 0.3s, transform 0.3s linear; /* Opera < 12.1 */
    transition: background-color 0.3s, transform 0.3s linear;
}

.menu-button-2:hover {
    background-color: rgb(170, 170, 40);

    transform: scale(1.15);

    -webkit-transition: background-color 0.3s, transform 0.3s linear; /* Safari, Chrome and Opera > 12.1 */
	-moz-transition: background-color 0.3s, transform 0.3s linear; /* Firefox < 16 */
	-ms-transition: background-color 0.3s, transform 0.3s linear; /* Internet Explorer */
	-o-transition: background-color 0.3s, transform 0.3s linear; /* Opera < 12.1 */
    transition: background-color 0.3s, transform 0.3s linear;
}

/* 
End of the lines/blocks of codes
Developed by M1
Student ID: Redacted
*/
