
/* 
Start of the lines/blocks of codes
Developed by M1
Student ID: Redacted
*/

/* View transactions */
.page-title-banner-container {
    height: 75px;
    width: 40%;
    /* background-color: lightgreen; */
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
    box-shadow: 0px 0px 16px 0px black;
    color: lightgreen;
    background: linear-gradient(rgb(50, 70, 70, 1), rgba(27, 47, 48, 0.7));
}

.page-title-banner-content {
    margin: 0 auto;
    flex-direction: column;
    height: 60px;
    font-weight: bold;
    font-size: 2em;
    margin-top: 12px;
}

/* View transactions (View details) */
.page-title-banner-container-2 {
    height: 75px;
    width: 65%;
    /* background-color: lightgreen; */
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
    box-shadow: 0px 0px 16px 0px black;
    color: lightgreen;
    background: linear-gradient(rgb(50, 70, 70, 1), rgba(27, 47, 48, 0.7));
}

.page-title-banner-content-2 {
    margin: 0 auto;
    flex-direction: column;
    height: 60px;
    font-weight: bold;
    font-size: 2em;
    margin-top: 12px;
}

/* Contents 1 */
#contents-1-container {
    /*
    A hidden container to ensure the contents tabs animations (if any)
    do not push the footer down and affect the overall website design.
    */
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 130px;
}

#contents-1-content {
    height: 80px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    float: left;
    /* padding-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    text-align: center;
    /* background-color: lightyellow; */
    background: linear-gradient(rgb(50, 70, 70, 1), rgba(27, 47, 48, 0.7));
    color: white;
    box-shadow: 0px 0px 16px 0px black;
}

/* Contents 2 */
#contents-2-container {
    /*
    A hidden container to ensure the contents tabs animations (if any)
    do not push the footer down and affect the overall website design.
    */
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 100%;
}

#contents-2-content {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    float: left;
    /* padding-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    text-align: center;
    /* background-color: lightyellow; */
    background: linear-gradient(rgb(50, 70, 70, 1), rgba(27, 47, 48, 0.7));
    color: white;
    box-shadow: 0px 0px 16px 0px black;
}

.contents-2-paragraph {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 30px;
}

/* Container 3 */
.container-3-container {
    /*
    A hidden container to ensure the contents tabs animations (if any)
    do not push the footer down and affect the overall website design.
    */
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 130px;
}

.container-3-content {
    height: 80px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    float: left;
    /* padding-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    text-align: center;
    /* background-color: lightyellow; */
    background: linear-gradient(rgb(50, 70, 70, 1), rgba(27, 47, 48, 0.7));
    color: white;
    box-shadow: 0px 0px 16px 0px black;
}

/* Container 4 */
.container-4-container {
    /*
    A hidden container to ensure the contents tabs animations (if any)
    do not push the footer down and affect the overall website design.
    */
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 100%;
}

.container-4-content {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    float: left;
    /* padding-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    text-align: center;
    /* background-color: lightyellow; */
    background: linear-gradient(rgb(50, 70, 70, 1), rgba(27, 47, 48, 0.7));
    color: white;
    box-shadow: 0px 0px 16px 0px black;
}

.container-5-container {
    /*
    A hidden container to ensure the contents tabs animations (if any)
    do not push the footer down and affect the overall website design.
    */
    display: flex;
    justify-content: center;
    gap: 75px;
    height: 50px;
    /* margin-right: 25%; */
}
.container-5-contents {
    height: 60px;
    width: 40%;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 4px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(rgb(95, 120, 120), rgba(27, 47, 48, 0.7));
    color: white;
    text-decoration: none;

    -webkit-transition: background-color 0.3s, transform 0.3s linear; /* Safari, Chrome and Opera > 12.1 */
	-moz-transition: background-color 0.3s, transform 0.3s linear; /* Firefox < 16 */
	-ms-transition: background-color 0.3s, transform 0.3s linear; /* Internet Explorer */
	-o-transition: background-color 0.3s, transform 0.3s linear; /* Opera < 12.1 */
    transition: background-color 0.3s, transform 0.3s linear;
}

.container-5-contents:hover {
    background-color: white;
    transform: scale(1.15);

    -webkit-transition: background-color 0.3s, transform 0.3s linear; /* Safari, Chrome and Opera > 12.1 */
	-moz-transition: background-color 0.3s, transform 0.3s linear; /* Firefox < 16 */
	-ms-transition: background-color 0.3s, transform 0.3s linear; /* Internet Explorer */
	-o-transition: background-color 0.3s, transform 0.3s linear; /* Opera < 12.1 */
    transition: background-color 0.3s, transform 0.3s linear;
}

form {
    margin: 0 auto;     /* Center the form horizontally */
}

/* Universal table designs */
.table-content table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 16px 0px black;
}

.table-content th {
    color: white;
    background-color: rgb(70, 129, 70);
    /* background-color: rgb(150, 255, 150); */
}

.table-content td {
    color: white;
    background-color: rgb(100, 120, 100);
    /* background-color: rgb(125, 150, 125); */
    /* background-color: rgb(225, 255, 225); */
}

.table-content tr {
    height: 40px;
}

.table-content th,
.table-content td {
    border: 1px solid black;
}

.table-content th {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
}

.table-content td {
    padding: 10px;
}

.font-size-20px {
    font-size: 20px;
}
/* 
End of the lines/blocks of codes
Developed by M1
Student ID: Redacted
*/
